
/* For ProductCard.js */
.add-to-cart{
    position: relative;
    background-color: rgba(245, 230, 21, 0.9);
    border: none;
}
.add-to-cart:hover{
    background-color: rgb(250, 216, 8,0.9);
}

.price-tag{
    font-size: 1.5rem;
}